a.button-social{
  margin-right:10px;
  padding:0.5rem 1.5rem 0.5625rem
}

a.button-social span{
  position: relative;
  left:-8px;
}

a.button-facebook{
  background:#3971B6;
}

a.button-twitter{
  background:#5bc0de;
}

a.button-google{
  background:#CE443E;
}