
.recipe-buttons-actions{
  padding:10px;

  a{
    padding:8px 15px;
    display: inline-block;
    border-radius:4px;

    &:hover{
      background:white;
    }
  }
  span{
    margin-right:5px;
    margin-left:5px;
  }
}

.post{
  .entry-header {
    font-size: 28px;
    line-height: 34px;
    color: rgba(0, 0, 0, 0.9);
    font-family: 'Droid Serif', sans-serif;
    font-weight: normal;
    margin: 0 0px 10px;
    padding: 10px;
    text-align: center;
    padding-top: 0px;
  }

  .recipe-summary {
    float: right;
    width: 200px;
    position: relative;
    z-index: 2;
  }

  .published-time {
    margin: 0px;
  }
}

.page {
  .post .published-time {
    margin-top: 10px;
  }
}

.page-title {
  background: url("../images/double-line.png") repeat-x scroll center center transparent;
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 20px;
  text-align: center;

  span {
    background: #E8E8E8;
    padding: 0 10px;
  }
}

#author-desc {
  margin-bottom: 24px;
  padding-left: 95px;
}

.single{
  .published-time {
    margin: 10px 0px 0px;
  }
  .entry-header {
    padding: 10px 0px;
  }
  .entry-meta {
    font-size: 11px;
    text-transform: uppercase;
    font-family: 'Droid Sans', sans-serif;
    margin-top: 18px;
    clear: both;
  }
  .entry-meta .post-meta {
    padding: 0px;
  }
  .entry-meta .post-meta li {
    float: left;
  }
}

/* content */

.page-links {
  clear: both;
  margin: 0 0 1.5em;
  font-weight: bold;
  font-size: 16px;
  background: url("../images/double-line.png") repeat-x scroll center top;
  padding-top: 10px;
}

.page-links a {
  font-weight: normal;
}

#author-data h4 {
  margin-bottom: 10px;
}
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
  display: none;
}
.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

/* Pureepice*/

.purerecipe-wrapper.tearedh {
  -moz-transform: rotate(-1deg);
  -webkit-transform: rotate(-1deg);
  transform: rotate(-1deg);

  background: url("../images/bg.png") repeat scroll left top transparent;
  padding: 0;
}

.tearedh {

  header {
    padding: 40px 30px 10px;
    overflow: hidden;

    div {
      float: left;
    }
  }

  p.author-data {
    padding: 0px;
    font-size: 11px;
    font-style: italic;
  }

  h4,h3 {
    font-family: 'Satisfy','Georgia', cursive;
    font-size:30px;
    max-width:500px;
  }

  h4 {
    margin:0px 0px 15px;
    padding:15px 0px 0px 0px;
    font-size:24px;
    font-weight: normal;
  }

  .recipe-image {
    padding: 5px;
    background: #fff;
    float: right;
    margin-top: -6px;
    -moz-transform: rotate(2deg);
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
    box-shadow: 0px 0px 1px rgba(0,0,0,0.3);
  }

  .purerecipe {
    -moz-transform: rotate(1deg);
    -webkit-transform: rotate(1deg);
    transform: rotate(1deg);
    background: url('../images/bg.png') repeat top left;
    margin-top: -14px;
    margin-bottom: 0px;
    padding-left: 10px;
    box-shadow: 1px 1px 1px #eee;
    border-radius: 15px 0px 0px 0px;
    position: relative;
    margin: 30px 0px;

    &:before {
      background: url("../images/pin-left.png") no-repeat scroll left top transparent;
      content: "";
      display: block;
      height: 69px;
      position: absolute;
      right: 41px;
      top: -19px;
      width: 72px;
      z-index: 9999;
    }
  }

  .recipe-content {

    padding: 0px 30px 20px;
    overflow: hidden;

    &:before {
      background: url("../images/coffe-stain.png") no-repeat scroll left top transparent;
      content: "";
      display: block;
      height: 360px;
      position: absolute;
      right: 0;
      top: 233px;
      width: 139px;
    }
  }

  .recipe-desc{
    max-width:465px;
  }


  ul li.separator {
    background: none repeat scroll 0 0 transparent;
    font-size: 15px;
    font-weight: bold;
    margin-top: 15px;
    padding-left: 0;
  }

  .recipe-add-data {
    background: url("../images/yellowcard-bg.png") no-repeat scroll right top #FFFF9E;
    width:225px;
    float: right;
    position: relative;
    padding:20px;
    font-size:14px;
    margin-top:17px;
    box-shadow:0px 1px 3px rgba(0,0,0,0.3);
  }

  ul.ingredients {
    width:70%;
  }
  .instructions{
    min-height: 200px;
  }

  .instructions ul li.active,
  ul.ingredients li.active {
    background: url("../images/checkbox-checked.png") no-repeat scroll left 6px transparent;
    padding-left:20px;
    text-decoration: line-through
  }

  ul.ingredients,
  .instructions ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    margin-bottom:20px;

    li{
      background: url("../images/checkbox.png") no-repeat scroll left 6px transparent;
      padding-left: 20px;
      cursor: pointer;
      margin: 4px 0px;

      &.step{
        background:transparent;
      }

      a {
        text-decoration: underline;
      }
    }
  }

  ul.ingredients li.separator {
    background: none repeat scroll 0 0 transparent;
    font-size: 15px;
    font-weight: bold;
    margin-top: 15px;
    padding-left: 0;
  }


  .recipe-add-data {
    &:before {
      background: url("../images/pin-right.png") no-repeat scroll left top transparent;
      content: "";
      display: block;
      height: 70px;
      position: absolute;
      right: 41px;
      top: -15px;
      width: 57px;
      z-index: 9999;
    }

    em {
      background: url('../images/penball-line.png') repeat-x bottom;
    }

    ul {
      list-style: none;
      margin: 0px;
      padding: 0px;

      li {
        margin: 4px 0px;
      }
    }
  }
}


/**Navbar*/

#nav-below {
  background: url('../images/double-line.png') repeat-x scroll center top #FAFAFA;
  box-shadow: 0px 0px 10px #FFF inset;
  clear: both;
  margin: 35px 0px;
  overflow: hidden;
  padding: 10px;
}
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}
#nav-below .nav-previous {
  float: left;
  width: 49%;
  text-align: left;
  cursor: pointer;
}
#nav-below img {
  background: none repeat scroll 0% 0% #E8E8E8;
  border: 1px solid #E8E8E8;
  padding: 5px;
  float: left;
  margin-right: 10px;
}
#nav-below span {
  font-size: 10px;
  font-style: italic;
  text-decoration: none;
  text-transform: none;
}
#nav-below .nav-next {
  float: right;
  width: 49%;
  text-align: right;
  cursor: pointer;
}
#nav-below .nav-next img {
  float: right;
  margin-right: 0px;
  margin-left: 10px;
}
