/* Background color for the top bar */
$topbar-bg: transparent;

/* Height and margin */
$topbar-height: 80px;
$topbar-margin-bottom: rem-calc(30);

/* Control Input height for top bar */
$topbar-input-height: 2.45em;

/* Controlling the styles for the title in the top bar */
$topbar-title-weight: bold;
$topbar-title-font-size: rem-calc(17);

/* Style the top bar dropdown elements */
$topbar-dropdown-bg: transparent;
$topbar-dropdown-link-color: #444;
$topbar-dropdown-link-bg: #FFF;
$topbar-dropdown-toggle-size: 5px;
$topbar-dropdown-toggle-color: #000;
$topbar-dropdown-toggle-alpha: 0.5;

/* Set the link colors and styles for top-level nav */
$topbar-link-color: #444;
$topbar-link-color-hover: #444;
$topbar-link-color-active: #444;
$topbar-link-color-active-hover: #444;
$topbar-link-weight: normal;
$topbar-link-font-size: rem-calc(13);
$topbar-link-hover-lightness: -10%; // Darken by 10%
$topbar-link-bg-color-hover: #555555;
$topbar-link-bg-hover: #FFF;

$topbar-dropdown-label-color: #444;
$topbar-dropdown-label-text-transform: uppercase;
$topbar-dropdown-label-font-weight: bold;
$topbar-dropdown-label-font-size: rem-calc(10);

/* Top menu icon styles */
$topbar-menu-link-transform: uppercase;
$topbar-menu-link-font-size: rem-calc(13);
$topbar-menu-link-weight: bold;
$topbar-menu-link-color: #000;
$topbar-menu-icon-color: #000;
$topbar-menu-link-color-toggled: #888;
$topbar-menu-icon-color-toggled: #888;

/* Sticky Class */
$topbar-sticky-class: ".sticky";
$topbar-arrows: true; //Set false to remove the triangle icon from the menu item

.container {
  &.fixed > .top-bar{
    height: 85px !important;
  }

  &.sticky.fixed {
    background: #fff6e2;
    border-bottom: 1px solid #daccae;
    max-width: none;

    > nav {
      max-width: 1170px;
      margin: auto;
    }
  }

  .top-bar{
    .name h1 a{
      font-size:1.8rem;
      padding-left: 13.667px;
      width:100%;
    }

    .top-bar-section{
      padding-top:20px;

      /*> ul > li > a {
        border-radius:3px;
      }

      .has-dropdown > a{
        border-radius:3px 3px 0px 0px;
      }*/

      .has-dropdown .dropdown {
        box-shadow:rgba(0, 0, 0, 0.05) 2px 4px 3px 0px;
      }

      li:not(.has-form) a:not(.button){
        line-height:40px;
      }

      .has-dropdown > a:after {
        top:20px;
      }
    }
    .button-menu{
      display:none;
      position:absolute;
      right:5px;
      top:10px;
      a{
        display: block;
        padding:5px;
      }
    }
  }
}

@media only screen and (max-width: 1180px) {

  .container.fixed > .top-bar{
    height: 58px !important;
    .name{
      height:auto;
    }
    .name h1{
      line-height: 56px;
    }
  }

  .container.fixed {
    > .top-bar{
      .name {
        width: 160px;
      }
    }
  }
}

@media only screen and (max-width: 767px) {

  .container.sticky{
    background: #fff6e2;
    border-bottom: 1px solid #daccae;
  }

  .container.fixed > .top-bar .top-bar-section{
    float:none;
  }
}

@media only screen and (max-width: 40.063em) {
  .container.fixed > .top-bar .button-menu {
    display: block;
  }
  .container.fixed.opened{
    bottom:0px;
    overflow: auto;
    > .top-bar {
      height: auto !important;
    }
  }
}