/* Background color for the top bar */
$topbar-bg: transparent;

/* Height and margin */
$topbar-height: 80px;
$topbar-margin-bottom: rem-calc(30);

/* Control Input height for top bar */
$topbar-input-height: 2.45em;

/* Controlling the styles for the title in the top bar */
$topbar-title-weight: bold;
$topbar-title-font-size: rem-calc(17);

/* Style the top bar dropdown elements */
$topbar-dropdown-bg: transparent;
$topbar-dropdown-link-color: #444;
$topbar-dropdown-link-bg: #FFF;
$topbar-dropdown-toggle-size: 5px;
$topbar-dropdown-toggle-color: #000;
$topbar-dropdown-toggle-alpha: 0.5;

/* Set the link colors and styles for top-level nav */
$topbar-link-color: #333;
$topbar-link-color-hover: #444;
$topbar-link-color-active: #444;
$topbar-link-color-active-hover: #444;
$topbar-link-weight: normal;
$topbar-link-font-size: rem-calc(13);
$topbar-link-hover-lightness: -10%; // Darken by 10%
$topbar-link-bg-color-hover: #555555;
$topbar-link-bg-hover: #FFF;

$topbar-dropdown-label-color: #444;
$topbar-dropdown-label-text-transform: uppercase;
$topbar-dropdown-label-font-weight: bold;
$topbar-dropdown-label-font-size: rem-calc(10);

/* Top menu icon styles */
$topbar-menu-link-transform: uppercase;
$topbar-menu-link-font-size: rem-calc(13);
$topbar-menu-link-weight: bold;
$topbar-menu-link-color: #000;
$topbar-menu-icon-color: #000;
$topbar-menu-link-color-toggled: #888;
$topbar-menu-icon-color-toggled: #888;

/* Sticky Class */
$topbar-sticky-class: ".sticky";
$topbar-arrows: true; //Set false to remove the triangle icon from the menu item

.top-bar .name h1 a{
  font-size:1.8rem;
}

.top-bar-section > ul > li > a {
  border-radius:3px;
}

.top-bar-section .has-dropdown > a{
  border-radius:3px 3px 0px 0px;
}
.top-bar-section .has-dropdown .dropdown {
  box-shadow:rgba(0, 0, 0, 0.05) 2px 4px 3px 0px;
}

.sidebar h3 {
  font-size: 18px;
  font-weight: normal;
  margin: 8px 0px 20px;
  background: url('../images/double-line.png') repeat-x scroll center center transparent;
  color: rgba(0, 0, 0, 0.9);
}

.sidebar h3 span {
  background: none repeat scroll 0% 0% #FFF;
  padding: 0px 10px 10px 0px;
}

/* Search */

.search-form {
  overflow: hidden;
}

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}

.widget .search-btn {
  background-color: #F0F0EF;
  border-radius: 0px 3px 3px 0px;
  border: 0px none;
  font-size: 14px;
  color: #444;
  cursor: pointer;
  float: right;
  z-index: 5;
  position: relative;
  padding: 9px 16px;
  line-height: 18px;
  margin: 0px;
  height: 38px;
  transition: all 0.2s ease-in-out 0s;
}

.widget input[type="search"] {
  float: left;
  color: #AAA;
  background: none repeat scroll 0% 0% #F0F0EF;
  border: 0px none;
  z-index: 1;
  position: relative;
  font-size: 14px;
  width: 85%;
  margin-top: -38px;
  padding: 10px 12px;
  line-height: 18px;
  height: 38px;
  box-shadow:none;
}
.widget input[type="search"]:focus{
  box-shadow:none;

}
input[type="search"] {
  box-sizing: content-box;
}

.button, input[type="button"], input[type="submit"] {
  padding: 7px 14px;
  display: inline-block;
  border: 0px none;
  font-weight: 500;
  outline: medium none;
  font-size: 14px;
  cursor: pointer;
  width: auto;
  transition: all 0.2s ease-in-out 0s;
  border-radius: 3px;
  box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.1) inset;
}
.widget {
  margin: 0px 0px 1.5em;
}

.widget .search-submit {
  display: none;
}

/* last Recipes */

.widget.purepress-recent ul {
  list-style: none outside none;
  margin: 0px;
  padding: 0px;
}
.widget.purepress-recent ul li {
  overflow: hidden;
  margin-bottom: 15px;
  transition: all 0.5s ease-out 0s;
}

.widget.purepress-recent ul li:hover {
  padding-left: 10px;
}

.widget ul li {
  margin-top: 5px;
}

.widget.purepress-recent ul .widget-thumb {
  float: left;
  margin-right: 10px;
}

.widget.purepress-recent ul .widget-thumb img {
  max-width: 60px;
  height: auto;
  border: 1px solid #EEE;
  padding: 3px;
  transition: all 1s ease-out 0s;
}
.widget.purepress-recent ul .widget-thumb img:hover {
  opacity: 0.6;
  border: 1px solid #DDD;
}
.widget.purepress-recent ul .widget-text a {
  font-size:0.8rem;
  display: block;
  margin-bottom: 5px;
}
.widget.purepress-recent ul .widget-text span {
  text-transform: uppercase;
  font-size: 10px;
  font-family: "Arial",sans-serif;
}