<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>Happy chief</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="bower_components/toastr/toastr.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800")' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
</head>
<body ng-app="happyChiefApp" ng-controller="AppController">
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<div class="container sticky">
    <top-bar sticky-topbar="true" sticky-class="sticky" data-topbar data-options="sticky_on: large">
        <ul class="title-area">
            <li class="name">
                <h1><a href="#"><img src="images/logo.png" alf="Happy Chief"/></a></h1>
            </li>

        </ul>

        <top-bar-section>
            <!-- Right Nav Section -->
            <ul class="right">
                <li><a href="#">Accueil</a></li>

                <li has-dropdown ng-show="categories">
                    <a href="#">Categories</a>
                    <ul top-bar-dropdown>
                        <li ng-repeat="category in categories"><a href="#/recipes/category/{{category._id}}">{{category.label}}</a></li>
                    </ul>
                </li>

                <li ng-show="account.role != 'user'"><a href="#/categories">Gérer les catégories</a></li>

                <li ng-show="account">
                    <a href="#/my-recipes/">Mes recettes</a>
                </li>

                <li ng-show="!account">
                    <a href="#/login">Connexion</a>

                </li>

                <li ng-show="account">
                    <a ng-click="logout()">Déconnexion</a>
                </li>
            </ul>


        </top-bar-section>
    </top-bar>
</div>

<!-- Add your site or application content here -->
<div class="container">
    <div class="row">

        <div id="secondary" class="small-3 large-3 columns sidebar widget-area">
            <div id="search-2" class="widget  widget_search">
                <h3><span>Rechercher</span></h3>
                <form role="search" method="get" class="search-form">
                    <span class="screen-reader-text">Search for:</span>
                    <button class="search-btn" type="submit"><i class="fa fa-search"></i></button>
                    <input class="search-field" placeholder="Search …" value="" name="s" title="Search for:" type="search" ng-model="search" ng-focus="onFocusSearch()">
                </form>
                <div class="row">
                    <div class="small-3 columns">
                        <div class="switch round  small ">
                            <input id="switchPicture" type="checkbox" ng-model="havePicture">
                            <label for="switchPicture"></label>
                        </div>
                    </div>
                    <div class="small-9 columns switch-label">
                        <span>Avec photo</span>
                    </div>
                </div>
            </div>
            <div id="purepress_recent-2" class="widget  purepress-recent">
                <h3><span>Recettes random</span></h3>
                <ul>
                    <!-- Post #1 -->
                    <li ng-repeat="item in randomRecipes">
                        <div class="widget-thumb">
                            <a href="#/recipes/{{item._id}}">
                                <img src="{{item.picture}}" class="attachment-slider-thumb wp-post-image" alt="{{item.title}}">
                            </a>
                        </div>

                        <div class="widget-text">
                            <a href="#/recipes/{{item._id}}">{{item.title}}</a>
                        </div>
                        <div class="clearfix"></div>
                    </li>
                </ul>
            </div>
        </div>

        <div id="primary" class="small-3 large-8  columns" ng-view="">

        </div>
    </div>
</div>

<!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.min.js"></script>
<![endif]-->

<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/amplify/lib/amplify.js"></script>
<script src="bower_components/lodash/dist/lodash.compat.js"></script>
<script src="bower_components/toastr/toastr.js"></script>
<!-- endbower -->
<script src="bower_components/foundation/js/foundation.min.js"></script>
<script src="bower_components/angular-foundation/mm-foundation-tpls.js"></script>
<!-- endbuild -->
<!-- build:js({.tmp,app}) scripts/script.js -->
<script src="scripts/app.js"></script>
<script src="scripts/services/amplify.js"></script>
<script src="scripts/services/lodash.js"></script>
<script src="scripts/services/toastr.js"></script>
<script src="scripts/services/auth.js"></script>
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/filters.js -->
<script src="scripts/filters/filters.js"></script>
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/services.js -->
<script src="scripts/services/services.js"></script>
<script src="scripts/services/user.js"></script>
<script src="scripts/services/recipe.js"></script>
<script src="scripts/services/category.js"></script>
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/directives.js -->
<script src="scripts/directives/directives.js"></script>
<script src="scripts/directives/recipe-card.js"></script>
<script src="scripts/directives/imageonload.js"></script>
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/controllers.js -->
<script src="scripts/controllers/controllers.js"></script>
<script src="scripts/controllers/login.js"></script>
<script src="scripts/controllers/signup.js"></script>
<script src="scripts/controllers/my-recipes.js"></script>
<script src="scripts/controllers/categories.js"></script>
<script src="scripts/controllers/recipe-list.js"></script>
<script src="scripts/controllers/recipe.js"></script>
<!-- endbuild -->

</body>
</html>
