<form method="post" ng-submit="login()">
    <h1><span class="fa fa-sign-in"></span> Login</h1>

    <div data-alert class="alert-box alert radius" ng-hide="!messageError">{{messageError}}</div>

    <div class="row">
        <div class="large-12 columns">
            <label>E-mail</label>
            <input type="email" id="credential-mail" class="credentials input-mail" name="mail" ng-model="credentials.mail" value="">
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <label>Mot de passe</label>
            <input type="password" id="credential-password" class="credentials input-password" name="password" ng-model="credentials.password" value="">
        </div>
    </div>

    <button type="submit" class="btn btn-warning btn-lg">Login</button>
</form>

<hr>
        {{credentials}}

<p>Need an account ? <a href="#/signup">Signup</a></p>
<p>Or go <a href="/">home</a>.</p>