<div class="grid">
    <article style="" class="post-836 post type-post status-publish format-standard has-post-thumbnail hentry category-asian-food tag-beef-sirloin tag-garlic tag-ginger tag-onion tag-pear-juice tag-pepper tag-salt tag-sesame-oil tag-sugar post" id="post-836">
        <div class="post-thumbnail">
            <a href="http://cookingpress.purethemes.wpengine.com/2012/02/29/daeji-bulgogi/" title="Permalink to Daeji Bulgogi" rel="bookmark">
                <img src="http://cookingpress.purethemes.wpengine.com/files/2012/02/front-360x215.jpg" class="attachment-post-thumbnail wp-post-image" alt="Daleji Bulgogi" height="215" width="360">
            </a>
        </div>
        <a href="http://cookingpress.purethemes.wpengine.com/2012/02/29/daeji-bulgogi/" class="published-time" title="8:27 pm" rel="bookmark">
            <span class="entry-date">February 29, 2012</span></a>
        <h2 class="entry-title">
            <a href="http://cookingpress.purethemes.wpengine.com/2012/02/29/daeji-bulgogi/" title="Permalink to Daeji Bulgogi" rel="bookmark">Daeji Bulgogi</a>
        </h2>

        <footer>
            <ul class="post-meta">
                <!--<li><a href="http://cookingpress.purethemes.wpengine.com/2012/02/29/daeji-bulgogi/#comments" class="glyphicons comments" title="Comment on Daeji Bulgogi"><span>6</span> </a></li>-->

                <li class="recipe-time">
                    <span class="fa fa-dashboard"></span>
                    1h
                </li>
                <li class="recipe-servings"><span class="fa fa-glass" href="#"></span>2 pers.</a> </span></li>
                <li class="recipe-level">
                    <span class="fa fa-signal" href="#"></span>
                    <em>Niveau :</em> Facile
                </li>
            </ul>
        </footer>
    </article>
</div>
<div class="clearfix"></div>