<!-- LOGIN FORM -->
<form method="post" ng-submit="signup()">

    <h1>Créer mon compte</h1>

    <div data-alert class="alert-box alert radius" ng-hide="!messageError">{{messageError}}</div>
    <div class="row">
        <div class="large-12 columns">
            <label>Nom</label>
            <input autocomplete="off" type="text" id="credential-name" class="credentials input-name" name="name" ng-model="credentials.name" value="">
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <label>Prénom</label>
            <input autocomplete="off" type="text" id="credential-firstName" class="credentials input-firstName" name="firstName" ng-model="credentials.firstName" value="">
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <label>E-mail</label>
            <input autocomplete="off" type="email" id="credential-mail" class="credentials input-email" name="email" ng-model="credentials.email" value="">
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <label>Mot de passe</label>
            <input autocomplete="off" type="password" id="credential-password" class="credentials input-password" name="password" ng-model="credentials.password" value="">
        </div>
    </div>

    <button type="submit" class="button">Créer mon compte</button>
</form>

<hr>

<p>Vous avez déjà un comtpe ? <a href="#/login">Me connecter</a></p>
<p>Ou me retourner sur la page <a href="/">d'accueil</a>.</p>